
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}


body{
    background-color: #1b3039;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;  /*------------------Watch out this property--------------*/

}

/* header {
    
    
    width: 100%;
    position: relative; 
    background-color: rgb(214, 213, 215); 
    transition: background-color 0.5s; 
    z-index: 1;  
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 3px 10%;
} */
.header{
    background-color: #1b3039;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}
.header .nav-links li:hover{
    transform: scale(1.1);
}
.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}
.header .nav-links li a:hover{
    color: #ffbc0e;
}

/* .nav-container{
    width: 100%;
    height: 100%;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    transition: 0.5s;
} */

/* .nav-container:hover{
    background-color: rgb(214, 213, 215);
} */

/* .nav-container a{
    list-style: none;
    text-decoration: none; 
    color:  #ffffff;
    margin: 10px;
    font-size: 1.2rem;
} */

/* .list1{
    margin-left: 1.5%;
}

.list2{
    margin-right: 1%;
} */
/* .nav-container .list1 li{
    display: inline-block;
    
} */
/* .nav-container .list2 li{
    display: inline-block;
    
} */
/* .nav-container .list1 li:hover{
    transform: scale(1.2);
}
.nav-container .list1 a:hover{
    color: #1358e1;
} */
/* .nav-container .list2 a:hover{
    color: #1358e1;
} */
 /* .nav-container .list2 li:hover{
    transform: scale(1.2);
}  */

.menu{
    display: none;
}
.header .menu button{
    /* margin-left: 20px; */
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header .menu button:hover{
    background-color: #e2f1f8;
    color: #1358e1;
    transform: scale(1.1);
}
@media screen and (max-width: 800px){
    .nav-links,.btn{
        display: none;
    }
    .menu{
        display: inherit;
    }
}

.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color:  rgb(49, 70, 82);
    overflow: hidden;
    transition: all 0.3s ease 0s;
    
}
.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}
.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color:black ;
    
}
.header .overlay a:hover,
.header .overlay a:focus{
    color:#1358e1;
}
.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
    
}
@media screen and (max-height: 450px){
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.header .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}






.rolling-text {
    z-index: 1;
    display: inline-block;
    white-space: nowrap;
    font-size: 36px;
    /* animation: escribir 5s steps(40, end) infinite; 
    border-right: 4px solid #000; */
    height:10vh;
}

@keyframes escribir {
    from {
        width: 0;
    }
    to {
        width:100%;
        }
} 



section{
    width: 100vw;
    height: 100vh;

}


.section1 {
    background-size: cover;

    /* overflow: hidden; */
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section1 video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.section1 h2{
    z-index: 0;
    font-size: 2.5rem;
    font-weight: 100;
    
}


.section1 a{
    position: absolute;
    z-index: 0;
    background-color: blueviolet;
}

.volUpButton{
position: absolute;
z-index: 1;
font-size: 1.8rem;
bottom: 30px;
left: 20px;
}

.playButton{
    position: absolute;
    font-size: 1.8rem;
    z-index: 1;
    bottom: 30px;
    right: 35px;
}

.section2{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-around;
    color:rgb(214, 213, 215);
}

.section2 h2{
    margin: 5% 0 0 5%;
    font-size: 3.7rem;
    font-weight: 100;

}

.section2 a{
    padding: 15px;
    border-radius: 5px;
    margin: 5%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    border-width: 0;
    background-color: rgb(214, 213, 215);
    transition: 0.5s;
    text-decoration: none;
    color: black;
}

.section2 a:hover{
    background-color:brown;
    color:rgb(214, 213, 215);
}





.section3{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/jlawOnGrass.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10%;
}

.section3 h2{
    color:rgb(214, 213, 215);
    font-size: 3.7rem;
    font-weight: 100;

}

.section3 a{
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    border-width: 0;
    background-color: rgb(214, 213, 215);
    transition: 0.5s;
    text-decoration: none;
    color: black;
}

.section3 a:hover{
    background-color:rgb(139, 139, 23);
    color:rgb(214, 213, 215);
}








.section4{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4  ), rgba(0, 0, 0, 0.4)), url(../img/jlByThePool.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section4 video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.section4 h2{

    font-size: 3.7rem;
    color:rgb(214, 213, 215);
    font-weight: 100;

}

.section4 a{
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    border-width: 0;
    background-color: rgb(214, 213, 215);
    transition: 0.5s;
    text-decoration: none;
    color: black;
    margin-top: 5%;
}

.section4 a:hover{
    background-color:rgb(0, 61, 81);
    color:rgb(214, 213, 215);
}





.section5{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/jlByThePool2.png);
    background-size: cover;
    background-position: center 0%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10%;
    color:rgb(214, 213, 215);

}

.section5 h2{
    font-size: 3.7rem;
    font-weight: 100;

}

.section5 a{
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    border-width: 0;
    background-color: rgb(214, 213, 215);
    transition: 0.5s;
    text-decoration: none;
    color: black;
}

.section5 a:hover{
    background-color:rgb(160, 104, 0);
    color:rgb(214, 213, 215);
}


.section6{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/jlawOnCouch.webp);
    background-size: cover;
    background-position: center 0%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10%;
    color:rgb(214, 213, 215);
    
}

.section6 h2{
    font-size: 3.7rem;
    font-weight: 100;

}

.section6 a{
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    border-width: 0;
    background-color: rgb(214, 213, 215);
    transition: 0.5s;
    text-decoration: none;
    color: black;
}

.section6 a:hover{
    background-color:rgb(160, 104, 0);
    color:rgb(214, 213, 215);
}



/* footer{
    background-color: rgb(214, 213, 215);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 3%;

} 

footer ul h3{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 5%;
}


footer ul li{
    margin-bottom: 5%;

}


.help{
    height: 100%;
    margin-top: 1%;
}

.help li{
    margin-top: 8%;
}

.help li a {
    text-decoration: none;

}


.about-us{
    height: 100%;
}

.log-in{
    height: 100%;
}

.log-in li a {
    text-decoration: none;
}

.about-us li {
    margin-bottom: 8%;

}

.about-us li a{
    text-decoration: none;
}



footer ul li a{
    color:rgb(0, 0, 0);
    

}

.line{
    margin: 1% 5% 1% 5%;

}

footer .footerContainer1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(214, 213, 215);
    height: 30vh;

}

footer .footerContainer2{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* FOOTER */

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    
}

.footer{
    background-color: #1b3039;
    padding: 80px 0;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight:500 ;
    border-bottom: 2px solid #1358e1;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{
    color:#ffffff;
    padding-left: 6px;
    
}

@media(max-width:991px){
    .footer-row{
        text-align: center;

    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}


.copyright{
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}